name: Docker Build and Push to DockerHub
on: push

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1 
        with:
          cluster_name: kind-ci-cluster

      - name: Verify cluster with kubectl
        # Once the previous step completes, kubectl is automatically configured
        run: kubectl cluster-info --context kind-ci-cluster

      - name: Run kubectl commands (example: get pods)
        run: kubectl get pods --all-namespaces
        
      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and Push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: dasaridevops/flask-app:v1
   #   - name: Run docker image
   #     run: docker run -d -p 5000:5000 dasaridevops/flask-app:v1

       - name: run

