name: Docker Build and Push to DockerHub

on:
  push:
    branches:
      - main

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind-ci-cluster

      - name: Verify cluster
        run: |
          kubectl cluster-info --context kind-kind-ci-cluster
          kubectl get nodes

      - name: Get pods (all namespaces)
        run: kubectl get pods -A

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: dasaridevops/flask-app:v1
      - name: Run deploy.yaml
        run: |
          kubectl apply -f deploy.yaml
          kubectl get svc
          kubectl get pods
          kubectl port-forward svc/flask-app-service 8080:80
